@import "../styles/mixin.scss";
#main{
  padding-top: 2rem;
  padding-bottom: 1.8rem;
  background: #E9EFEF;
  position: relative;
}
.main_fixed_top{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.job_content{
}
.job_status_text{
  margin-top: 0.1rem;
  text-align: right;
  font-size: 0.5rem;
  color: #888888;
}
.job_status_text2{
  margin-top: 0.1rem;
  text-align: right;
  font-size: 0.5rem;
  color: #ff0000;
}
.job_lists li{
  padding: 5%;
  background: #fff;
  height:2.5rem;

  +li{
    margin-top: 3%;
  }
  a {
    display: block;
    color: #808080;
    h4{
      font-weight: 100;
      @include sc(.4rem,#000);
      span.inforight{
        color: #e4393c;
      }
    }
    p{
      margin-top: .15rem;
      [class^="icon-"], [class*=" icon-"]{
        margin-right: .1rem;
        margin-left: .3rem;
      }
      span:nth-child(1){
        margin-left: 0;
      }
    }
    p.title:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: #808080;
        width: 100%;
        height: 1px;
        -webkit-transform: scaleY(0.3);
        transform: scaleY(0.3);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    p.title{
      position: relative;
      padding-top: .15rem;
      span{
        @include sc(.4rem,$vuecolor);
        height: .8rem;
        line-height: .8rem;
        margin-left: .3rem;
        position: relative;
        +span:before{
          position: absolute;
          display: table;
          content: "";
          width: 1px;
          height: .3rem;
          background: $vuecolor;
          left:-.15rem;
          top: .24rem;
        }
      }
    }
    img{
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
    }
  }
}
.buttonstyle{
  position: absolute;
  left: 0.5rem;
  right:0.5rem;
  bottom: 0.5rem;

  text-align: center;
  font-weight: bold;
  font-size: 0.55rem;
  font-style: normal;

  padding: 0.25rem;

  color: #81b9b4;
  background: #ebfbfa;
  border-radius: 0.3rem;
}
.backTop{
  position: fixed;
  right: 10px;
  bottom: 1.8rem;
  width: .6rem;
  z-index: 100;
  cursor: pointer;
}
// .job_header

.common_header{
  padding: 0.37037rem;
  background: $vuecolor;
  height: 1.28rem;
}
.common_header_text{
  position: absolute;
  left: 50%;
  top: 50%;
  color: #FFF;
  transform: translate(-50%,-50%);
  font-size: .4rem;
}

.job_nav{
  background: #fff;
  position: relative;
}
.job_nav>ul{
  height: 1rem;
  line-height: 1rem;
}
.job_nav li{
  text-align: center;
  color: #8D8D8D;
  position: relative;
  // border-right: 1px solid #E5E5E5;
}
.job_nav li:after{
  display: table;
  content: "";
  height: 60%;
  border-right: 1px solid #E5E5E5;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.job_nav li.selected{
  color: $vuecolor;
}
.page-infinite-loading{
   line-height:1rem;
   text-align:center;
   @include sc(.4rem,$vuecolor);
 }
.page-infinite-loading span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.mint-spinner-fading-circle {
    position: relative;
}

.sub-page-top-text{
  position: absolute;
  left: 50%;
  top: 50%;
  color: #FFF;
  transform: translate(-50%,-50%);
  padding-left: .4rem;
  font-size: .5rem;
}
